%link{ :rel => "stylesheet", :href => "/stylesheets/jquery-ui/smoothness/jquery-ui-1.7.custom.css", :type => "text/css", :media => "screen" }
%script{ :src => '/javascripts/jquery-ui-1.7.custom.min.js', :type => 'text/javascript' }

:javascript

  function getSelectedTags() {
    var selected_tags = Array();
    $.each($('.selected_tag'), function() { selected_tags.push($(this).attr('id')); });
    return selected_tags;
  }

  function refreshExpensesListAndTotal(data) {
    var total_amount = data.substring(0, data.indexOf(':'));
    var expenses_html = data.substring(data.indexOf(':') + 1);
    $('#sum-amount').html(total_amount);
    $('#expenses-list').html(expenses_html);
  }

  function bindOnclickOfDeleteLinks() {
    $("a.delete").bind("click", function() {
      $.delete_("/expenses/" + this.id, {}, function(data){
        var expense_id = data.substring(0, data.indexOf(':'));
        var expense_amount = data.substring(data.indexOf(':') + 1);
        $("a#"+data).parents("li.expense").hide();
        var old_total = $("#sum-amount").html();
        $("#sum-amount").html(old_total - parseInt(expense_amount));
      })
    });
  }

  function updateExpenseList() {
    var selected_dates = [$('#spent-at-from').val(), $('#spent-at-to').val()];
    var selected_tags = getSelectedTags();
    $.get("/get_expenses", { "tags[]" : $.makeArray(selected_tags), "dates[]" : $.makeArray(selected_dates) }, function(data) {
      refreshExpensesListAndTotal(data);
      bindOnclickOfDeleteLinks();
    });
  }

  $(document).ready(function() {
    $(".expense_date").datepicker({ firstDay : 1, showButtonPanel : true });
    $("#delete-dates").click(function(){
      $.each($(".expense_date"), function() {
        $(this).val('');
      })
    })
    $(".expense_date").change(function() {
      updateExpenseList();
    });

    $('.expense_tag').click(function() {
      $(this).toggleClass('selected_tag');
      updateExpenseList();
    });
  })

%h1= "Expenses for #{current_user.name}"
#tags
  = partial :tag, :collection => @tags
#dates
  #from
    #from-label From
    #from-input
      %input.expense_date#spent-at-from
  #to
    #to-label To
    #to-input
      %input.expense_date#spent-at-to
  #dates-buttons
    #delete-dates
      %button#delete-dates{ :type => "button" } Delete

#expenses
  %ul#expenses-list
    / = partial :expense, :collection => @expenses

#sum
  #sum-text Total amount:
  #sum-amount 0

#bottom-links
  %a{ :href => '/expenses/new' } New expense