%form{ :name => "login", :method => "post", :action => "/login" }
  %ul.fieldset
    %li.field
      %label.leftColumn{ :for => "login" } Login
      %input.rightColumn{ :type => "text", :id => "login", :name => "login" }
    %li.field{ :class => "field" }
      %label.leftColumn{ :for => "password" } Password
      %input.rightColumn{ :type => "password", :id => "password", :name => "password" }
    %li.field{ :class => "field" }
      %input{ :type => "submit", :value => "Log in"}
      
%a{ :href => "/register" } Register