/ color-theme based on "Haunt" theme on kuler.adobe.com
body
  :background-color #3d403c
  :font-family Palatino, Lucida Grande, Verdana, sans-serif
  :font-size 20px

a
  :color black
  :font-weight bold
  :text-decoration none
  &:hover
    :text-decoration underline

#main_panel
  :width 80%
  :margin 60px auto
  :padding 50px
  :color black
  :background-color #e8ffde

ul.fieldset
  :list-style-type none
  :font-size 1.2em
  li
    :font-size 20px

div#expenses
  :margin 50px 0px
  / :padding 20px 0px
  
ul#expenses-list
  :list-style-type none
  li
    :clear both
    :width 200px
    .amount
      :display inline
      :text-align left
      :float left
      :width 20%
      :color red
    .links
      :display inline
      :text-align right
      :float right
      :width 80%
      
#tags
  :margin 10px 0px

div.expense_tag
  :display inline
  :padding 10px 20px
  &:hover
    :color white
    :background-color #bf6321

div.selected_tag
  :background-color #bf6321
  :color white