%link{ :rel => "stylesheet", :href => "/stylesheets/jquery-ui/smoothness/jquery-ui-1.7.custom.css", :type => "text/css", :media => "screen" }
%script{ :src => '/javascripts/jquery-ui-1.7.custom.min.js', :type => 'text/javascript' }

:javascript
  $(document).ready(function() {
    $("#expense-spent-at").datepicker({ firstDay : 1, showButtonPanel : true });
    $(".expense_tag").click(function() {
      var tags_so_far = $("#expense-tags").val().split(' ');
      var new_tag = $(this).html();
      if ( tags_so_far.indexOf(new_tag) == -1 ) {
        tags_so_far.push(new_tag);
        var new_tags = tags_so_far.join(' ').replace(/^\s+/, '').replace(/\s+$/, '');
        $("#expense-tags").val(new_tags);
      }
    });
  })

%h1= "New expense for #{current_user.name}"
%form{ :name => "create_expense", :method => "post", :action => "/expenses"}
  %ul.fieldset
    %li.field
      %label.leftColumn{ :for => 'expense-subject' } Subject
      %input.rightColumn{ :type => 'text', :id => 'expense-subject', :name => 'expense[subject]'}
    %li.field
      %label.leftColumn{ :for => 'expense-amount' } Amount
      %input.rightColumn{ :type => 'text', :id => 'expense-amount', :name => 'expense[amount]'}
    %li.field
      %label.leftColumn{ :for => 'expense-tags' } Tags
      %input.rightColumn{ :type => 'text', :id => 'expense-tags', :name => 'expense[tags]'}
    %li.field
      .onlyRightColumn
        = partial :tag, :collection => @tags
    %li.field
      %label.leftColumn{ :for => 'expense-spent-on' } Spent on
      %input.rightColumn{ :type => 'text', :id => 'expense-spent-at', :name => 'expense[spent_at]'}
    %li
      %input{ :type => 'submit', :name => 'add_expense', :value => "Add expense" }

%a{ :href => "/expenses" } Go to expenses